<EditForm Model="User" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label>Primeiro Nome</label>
        <InputText class="form-control" @bind-Value="@User.FirstName" />
        <ValidationMessage For="@(()=>User.FirstName)" />
        <label>Último Nome</label>
        <InputText class="form-control" @bind-Value="@User.LastName" />
        <ValidationMessage For="@(()=>User.LastName)" />
        <label>Endereço</label>
        <InputText class="form-control" @bind-Value="@User.Address" />
        <ValidationMessage For="@(()=>User.Address)" />
        <label>Código Postal</label>
        <InputText class="form-control" @bind-Value="@User.PostalCode" />
        <ValidationMessage For="@(()=>User.PostalCode)" />
        <label>Localidade</label>
        <InputText class="form-control" @bind-Value="@User.Local" />
        <ValidationMessage For="@(()=>User.Local)" />
        <label>Idioma</label>
        <select class="form-control" @bind="@User.Language">
            <option value="0">
                -- Seleccione um idioma
            </option>
            @foreach (int language in Enum.GetValues(typeof(Language)))
            {
                <option value="@language">@Enum.GetName(typeof (Language), language)</option>
            }
        </select>
        <ValidationMessage For="@(()=>User.Language)" />
        <label>Data de Nascimento</label>
        <InputDate class="form-control" @bind-Value="@User.BornDate" />
        <ValidationMessage For="@(()=>User.BornDate)" />
        <label>Número de Telefone</label>
        <InputText class="form-control" @bind-Value="@User.PhoneNumber" />
        <ValidationMessage For="@(()=>User.PhoneNumber)" />
        <label>Número de Telemóvel</label>
        <InputText class="form-control" @bind-Value="@User.MobilePhoneNumber" />
        <ValidationMessage For="@(()=>User.MobilePhoneNumber)" />
        <label>Email</label>
        <InputText class="form-control" @bind-Value="@User.Email" />
        <ValidationMessage For="@(()=>User.Email)" />
        <label>Observações</label>
        <InputTextArea class="form-control" @bind-Value="@User.Comment" />
        <ValidationMessage For="@(()=>User.Comment)" />
        <label>Nível de Acesso</label>
        <select class="form-control" @bind="@User.AccessLevel">
            <option value="0">
                -- Seleccione um nível de acesso
            </option>
            @foreach (int accessLevel in Enum.GetValues(typeof(AccessLevel)))
            {
                <option value="@accessLevel">@Enum.GetName(typeof (AccessLevel), accessLevel)</option>
            }
        </select>
        <ValidationMessage For="@(()=>User.AccessLevel)" />
        <label>Data de Validade</label>
        <InputDate class="form-control" @bind-Value="@User.Validity" />
        <ValidationMessage For="@(()=>User.Validity)" />
    </div>
    <button class="btn btn-success" type="submit">Gravar</button>
</EditForm>

@code {
    [Parameter] public Users User { get; set; }

    // Cascading parameter to invoke Create or Edit method
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}
